<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
  <% include ../partials/nav.ejs %>
  <div class="jumbotron text-center">
    <div class="container">
      <h1>Managerworld!</h1>
      <p><%= tagline %></p>
    </div>
  </div>
  <div class="container">
    <div class="alert alert-info text-center" role="alert">
     <h3><a href="/signup-usertype1" class="alert-link">Choose User_type 1</a></h3>
    </div>
    <div class="alert alert-info text-center" role="alert">
     <h3><a href="/signup-usertype2" class="alert-link">Choose User_type 2</a></h3>
    </div>
    <div class="alert alert-info text-center" role="alert">
     <h3><a href="/signup-usertype3" class="alert-link">Choose User_type 3</a></h3>
    </div>
    <hr>
  </div>
</body>
</html>
